<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table {{ table.id }}</title>
</head>
<body>
    <h1>Bem-vindo à Mesa {{ table.id }}</h1>
    <p>Aponte seu celular para o QR Code abaixo para acessar o sistema e fazer seu pedido:</p>


    <img src="{{ qr_code_url }}" alt="QR Code" style="width: 200px; height: 200px; border: 1px solid #ddd;">

    <p><a href="/menu/{{ table.id }}">Acesse o Menu da Mesa</a></p>
</body>
</html>