<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>item_menu</h1>
    <a href="{% url 'add_item'%}">add item</a>
    <a href="{%url 'home'%}">voltar</a>
    <table border="4">
        <tr>
            <th>Produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Categoria</th>
        </tr>
        {%for item in items%}
        <tr>
            <th>{{ item.name}}</th>
            <th>{{item.description}}</th>
            <th>{{item.price}}R$</th>
            <th>{{item.category}}</th>
        </tr>
        <th><button type="submit">Adicionar</button></th>
        {% endfor%}
        
    </table>
    
</body>
</html>