{% load static %}
<head>
   <link rel="stylesheet" href="{% static 'css/item_menu.css' %}">
</head>
<h1>Menu</h1>
<body>
    <a href="{% url 'home' % }">Home</a>
    <table border="4">
    <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Adicionar ao Carrinho</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }} R$</td>
        <td>{{ item.category }}</td>
        <td>
            <form method="post" action="{% url 'add_cart' item.id %}">
                {% csrf_token %}
                <button type="submit">Adicionar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
